// Import local fonts
@font-face {
    font-family: 'Ancho';
    src: url('../../../fonts/AnchoGX.woff2') format('woff2');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

